@model IEnumerable<db.bks_Book>

@{
    ViewBag.Title = "Index";
}

<h2>商城主页</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.rowNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rowID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.bookName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.isbnNO)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.authorName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.authorIntroduce)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bookIntroduce)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.bookDirectory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bookTypeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pressCode)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.pressDate)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.release)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.surfacePic)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.isSell)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.stockSum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sellSum)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.remark)
        </th>*@
        <th>
            
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.rowNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rowID)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.bookName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.isbnNO)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.authorName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.authorIntroduce)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bookIntroduce)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.bookDirectory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bookTypeCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pressCode)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.pressDate)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.release)
        </td>*@
        <td>
            <img src="@item.bookDirectory" style="height:100px" />
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.isSell)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stockSum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sellSum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.remark)
        </td>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.bookCode }) |
            @Html.ActionLink("Details", "Details", new { id=item.bookCode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.bookCode })
        </td>*@
    <td>
        <@Html.ActionLink("添加到购物车", "TrolleyAdd")>
    </td>
    </tr>
}

</table>
