@model db.sv_shopTrolley

@{
    ViewBag.Title = "TrolleyAdd";
}

<h2>购物车</h2>

<div>
    <h4>详细信息</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.bookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.authorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.authorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.TextBoxFor(model => model.quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("返回商城", "Index")
</p>
